<footer class="dilvant__footer">
    <section class="dilvant__content">
        <div class="dilvant__footer-items">
            <div>
                <h3 class="dilvant__footer-items-title-main">Dilvant</h3>
            </div>
            <div>
                <h3 class="dilvant__footer-items-title">Platos Estrellas</h3>
                <div>
                    <h4 class="dilvant__footer-items-subtitle">Platos Estrellas</h4>
                    <h4 class="dilvant__footer-items-subtitle">Lomo Saltado</h4>
                    <h4 class="dilvant__footer-items-subtitle">Causa Rellena</h4>
                </div>
            </div>
            <div>
                <h3 class="dilvant__footer-items-title">Contacto</h3>
                <div>
                    <h4 class="dilvant__footer-items-subtitle">+51 999 999 999</h4>
                    <h4 class="dilvant__footer-items-subtitle">{{"dilvant.restaurante@gmail.com"}}</h4>
                </div>
            </div>
            <div>
                <h3 class="dilvant__footer-items-title">Encuéntranos</h3>
                <div>
                    <h4 class="dilvant__footer-items-subtitle">Av. Dirección 1</h4>
                </div>
            </div>
        </div>
        <div class="dilvant__footer-separator"></div>
        <div class="dilvant__footer-text-main">
            Plantilla hecha por Dilvant - 2024
        </div>
    </section>
</footer>