.dilvant {
    //dilvant-section-3
    &__section-3 {
        width: 100%;
        height: auto;
        background: #001405;
    }
    &__section-3-content {
        display: grid;
        grid-template-columns: 1.175fr 1fr;
        gap: 80px;
        padding: 80px 0px;
    }
    &__section-3-content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    &__section-3-title {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 800;
        line-height: 61.6px;
        text-align: left;
    }
    &__section-3-subtitle {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
    }
    &__section-3-content-image {
        width: 100%;
        height: auto;
        border-radius: 63px;
        overflow: hidden;
    }
    &__section-3-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width:800px) {
    .dilvant {
        &__section-3-content {
            grid-template-columns: 1fr;
            padding: 60px 0px;
            gap: 40px;
        }
        &__section-3-content-right {
            gap: 20px;
        }
        &__section-3-title {
            font-size: 36px;
            line-height: 40px;
        }
        &__section-3-subtitle {
            font-size: 16px;
            line-height: 24px;
        }
        &__section-3-content-image {
            max-height: 350px;
        }
    }
}