<section class="dilvant__section-3">
    <div class="dilvant__content">
        <div class="dilvant__section-3-content">
            <div class="dilvant__section-3-content-right">
                <h4 class="dilvant__section-3-title">Plato de la temporada</h4>
                <p class="dilvant__section-3-subtitle">Descubre el sabor auténtico de Perú con nuestro anticucho de temporada. Este plato, lleno de tradición, combina tiernos trozos de corazón de res marinados en especias, servidos con una salsa de ají y acompañados de papas doradas. Una experiencia
                    culinaria que te transportará a las calles de Lima.</p>
            </div>
            <div class="dilvant__section-3-content-image">
                <img class="dilvant__section-3-image" src="images/anticucho.png" alt="Plato de anticucho">
            </div>
        </div>
    </div>

</section>