<header class="dilvant__header">
    <div class="dilvant__content">
        <div class="dilvant__header-content">
            <h1 class="dilvant__header-title">Dilvant</h1>
            <ul class="dilvant__header-menu-list">
                <li class="dilvant__header-subtitle"><span class="dilvant__header-subtitle-span">Inicio</span></li>
                <li class="dilvant__header-subtitle"><span class="dilvant__header-subtitle-span">Menú</span></li>
                <li class="dilvant__header-subtitle"><span class="dilvant__header-subtitle-span">Nosotros</span></li>
                <li class="dilvant__header-subtitle">
                    <span class="dilvant__header-subtitle-span">Reservas</span>
                    <img src="images/arrow-white.svg" alt="arrow white">
                </li>
            </ul>
            <button class="dilvant__header-button">Contacto</button>
            <button class="dilvant__header-button-mobile">Contacto</button>
        </div>
    </div>
</header>