<section class="dilvant__section-5">
    <div class="dilvant__content">
        <div class="dilvant__section-5-content">
            <div class="dilvant__section-5-left">
                <h4 class="dilvant__section-5-title">Una experiencia única</h4>
                <p class="dilvant__section-5-subtitle">En nuestro restaurante, ofrecemos una experiencia culinaria única con los mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un ambiente acogedor
                    mientras saboreas nuestras especialidades.</p>
            </div>
            <div class="dilvant__section-5-right">
                <img class="dilvant__section-5-right-image" src="images/section-5.png" alt="Experiencia culinaria">
            </div>

        </div>
    </div>
</section>