<section class="dilvant__section-4">
    <div class="dilvant__content">
        <div class="dilvant__section-4-content">
            <h4 class="dilvant__section-4-title">¿Cómo funciona? Elige tu plato favorito.</h4>
            <div class="dilvant__section-4-cards">
                <div class="dilvant__section-4-card">
                    <div class="dilvant__section-4-card-content-image">
                        <img class="dilvant__section-4-card-image" src="images/plato1.png" alt="Plato comida">
                    </div>
                    <p class="dilvant__section-4-card-title">
                        Ofrecemos platos que combinan tradición y modernidad, diseñados para deleitar tu paladar.
                    </p>
                </div>
                <div class="dilvant__section-4-card">
                    <div class="dilvant__section-4-card-content-image">
                        <img class="dilvant__section-4-card-image" src="images/restaurante.png" alt="restaurante">
                    </div>
                    <p class="dilvant__section-4-card-title">
                        Disfruta de un ambiente acogedor mientras degustas nuestros sabrosos platos.
                    </p>
                </div>
                <div class="dilvant__section-4-card">
                    <div class="dilvant__section-4-card-content-image">
                        <img class="dilvant__section-4-card-image" src="images/chef.png" alt="chef">
                    </div>
                    <p class="dilvant__section-4-card-title">
                        La excelencia de la cocina <br> peruana se refleja en nuestros platos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>