<section class="dilvant__section-2">
    <div class="dilvant__content">
        <div class="dilvant__section-2-content">
            <div class="dilvant__section-2-header">
                <h4 class="dilvant__section-2-title">Recetas Peruanas Populares</h4>
                <div class="dilvant__section-2-header-arrow">
                    <span class="dilvant__section-2-arrow-message">Explora Todos los Platos</span>
                    <img src="images/arrow-right.svg" alt="arrow image">
                </div>
            </div>
            <div class="dilvant__section-2-cards">
                <div class="dilvant__section-2-card">
                    <div class="dilvant__section-2-card-content-image">
                        <img class="dilvant__section-2-card-image" src="images/postre_peruano.png" alt="Postre peruano">
                    </div>
                    <div class="dilvant__section-2-card-shadow">
                        <h4 class="dilvant__section-2-card-shadow-title">Postres Peruanos</h4>
                    </div>
                </div>
                <div class="dilvant__section-2-card">
                    <div class="dilvant__section-2-card-content-image">
                        <img class="dilvant__section-2-card-image" src="images/causa.png" alt="Postre peruano">
                    </div>
                    <div class="dilvant__section-2-card-shadow">
                        <h4 class="dilvant__section-2-card-shadow-title">Causa Rellena</h4>
                    </div>
                </div>
                <div class="dilvant__section-2-card">
                    <div class="dilvant__section-2-card-content-image">
                        <img class="dilvant__section-2-card-image" src="images/lomo.png" alt="Postre peruano">
                    </div>
                    <div class="dilvant__section-2-card-shadow">
                        <h4 class="dilvant__section-2-card-shadow-title">Aji de Gallina</h4>
                    </div>
                </div>
                <div class="dilvant__section-2-card">
                    <div class="dilvant__section-2-card-content-image">
                        <img class="dilvant__section-2-card-image" src="images/pisco.png" alt="Postre peruano">
                    </div>
                    <div class="dilvant__section-2-card-shadow">
                        <h4 class="dilvant__section-2-card-shadow-title">Pisco Sour</h4>
                    </div>
                </div>
                <div class="dilvant__section-2-card">
                    <div class="dilvant__section-2-card-content-image">
                        <img class="dilvant__section-2-card-image" src="images/ceviche.png" alt="Postre peruano">
                    </div>
                    <div class="dilvant__section-2-card-shadow">
                        <h4 class="dilvant__section-2-card-shadow-title">Ceviche</h4>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>