<section class="dilvant__section-6">
    <img class="dilvant__section-6-shape" src="images/Shape.png" alt="">
    <div class="dilvant__content">
        <div class="dilvant__section-6-content">
            <div class="dilvant__section-6-left">
                <img class="dilvant__section-6-left-image" src="images/section-6.png" alt="">
            </div>
            <div class="dilvant__section-6-right">
                <div class="dilvant__section-6-right-content">
                    <h4 class="dilvant__section-6-right-title">Reserva hoy mismo.</h4>
                    <h5 class="dilvant__section-6-right-subtitle">Disfruta de una mezcla de sabores peruanos en cada bocado.</h5>
                    <div>
                        <button class="dilvant__section-6-right-button">Reservar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>