<section class="dilvant__section-1">
    <img class="dilvant__section-1-shape" src="images/Shape-1.png" alt="Shape">
    <div class="dilvant__content">
        <div class="dilvant__section-1-content">
            <div class="dilvant__section-1-left">
                <div class="dilvant__section-1-left-content">
                    <h4 class="dilvant__section-1-left-title">Haz crecer tu amor por la comida peruana.</h4>
                    <h5 class="dilvant__section-1-left-subtitle">Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</h5>
                    <div>
                        <button class="dilvant__section-1-left-button">Nuestra nueva carta.</button>
                    </div>
                </div>
            </div>
            <div class="dilvant__section-1-right">
                <img class="dilvant__section-1-right-image" src="images/restaurante_peruano.svg" alt="Restaurante peruano">
            </div>
        </div>
    </div>
</section>