/* You can add global styles to this file, and also import other style files */

//generic
@import './scss/generic/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dilvant {
    &__content {
        max-width: 1280px;
        margin: auto;
        position: relative;
    }
}

@media only screen and (max-width:1270px) {
    .dilvant {
        &__content {
            max-width: calc(100% - 40px);
            margin: auto;
            position: relative;
        }
    }
}